In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder, OneHotEncoder
import pickle

In [2]:
df = pd.read_csv('Churn_Modelling.csv')
df.head()

   RowNumber  CustomerId   Surname  ...  IsActiveMember EstimatedSalary Exited
0          1    15634602  Hargrave  ...               1       101348.88      1
1          2    15647311      Hill  ...               1       112542.58      0
2          3    15619304      Onio  ...               0       113931.57      1
3          4    15701354      Boni  ...               0        93826.63      0
4          5    15737888  Mitchell  ...               1        79084.10      0

[5 rows x 14 columns]

In [3]:
df=df.drop(['RowNumber', 'CustomerId', 'Surname',], axis=1)

In [4]:
gender_label_encoder = LabelEncoder()
df['Gender']=gender_label_encoder.fit_transform(df['Gender'])
df

      CreditScore Geography  Gender  ...  IsActiveMember  EstimatedSalary  Exited
0             619    France       0  ...               1        101348.88       1
1             608     Spain       0  ...               1        112542.58       0
2             502    France       0  ...               0        113931.57       1
3             699    France       0  ...               0         93826.63       0
4             850     Spain       0  ...               1         79084.10       0
...           ...       ...     ...  ...             ...              ...     ...
9995          771    France       1  ...               0         96270.64       0
9996          516    France       1  ...               1        101699.77       0
9997          709    France       0  ...               1         42085.58       1
9998          772   Germany       1  ...               0         92888.52       1
9999          792    France       0  ...               0         38190.78       0

[10000 rows x 11 columns]

In [5]:
from sklearn.preprocessing import OneHotEncoder

geography_onehot_encoder = OneHotEncoder()
geo_encoder = geography_onehot_encoder.fit_transform(df[['Geography']])
geo_encoder

<Compressed Sparse Row sparse matrix of dtype 'float64'
	with 10000 stored elements and shape (10000, 3)>

In [6]:
geo_encoder.toarray()

array([[1., 0., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       ...,
       [1., 0., 0.],
       [0., 1., 0.],
       [1., 0., 0.]])

In [7]:
geography_onehot_encoder.get_feature_names_out()

array(['Geography_France', 'Geography_Germany', 'Geography_Spain'],
      dtype=object)

In [8]:
geography_encoded_df=pd.DataFrame(geo_encoder.toarray(),columns = geography_onehot_encoder.get_feature_names_out(['Geography']))
geography_encoded_df

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [9]:
df = pd.concat([df.drop('Geography', axis=1), geography_encoded_df], axis=1)
df

      CreditScore  Gender  ...  Geography_Germany  Geography_Spain
0             619       0  ...                0.0              0.0
1             608       0  ...                0.0              1.0
2             502       0  ...                0.0              0.0
3             699       0  ...                0.0              0.0
4             850       0  ...                0.0              1.0
...           ...     ...  ...                ...              ...
9995          771       1  ...                0.0              0.0
9996          516       1  ...                0.0              0.0
9997          709       0  ...                0.0              0.0
9998          772       1  ...                1.0              0.0
9999          792       0  ...                0.0              0.0

[10000 rows x 13 columns]

In [10]:
x=df.drop('EstimatedSalary', axis=1)
y=df['EstimatedSalary']

In [11]:
### Train test split

x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2, random_state=22)

### Scaling the features
scaler = StandardScaler()
x_train = scaler.fit_transform(x_train)
x_test = scaler.transform(x_test)

In [12]:
with open('gender_label_encoder.pkl', 'wb') as file:
    pickle.dump(gender_label_encoder, file)

with open('geography_onehot_encoder.pkl', 'wb') as file:
    pickle.dump(geography_onehot_encoder, file)

with open('scaler.pkl', 'wb') as file:
    pickle.dump(scaler,file)

In [13]:
### ANN Regression

import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [15]:
model = Sequential([
    Dense(64, activation='relu', input_shape=(x_train.shape[1],)),  ##Hidden Layer 1
    Dense(32, activation='relu'),  ##Hidden Layer 2
    Dense(1)  ##Output layer
])

In [16]:
### Complie the model

model.compile(optimizer='adam', loss='mean_absolute_error', metrics=['mae'])

model.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_3 (Dense)             (None, 64)                832

 dense_4 (Dense)             (None, 32)                2080

 dense_5 (Dense)             (None, 1)                 33

=================================================================
Total params: 2945 (11.50 KB)
Trainable params: 2945 (11.50 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [17]:
from tensorflow.keras.callbacks import EarlyStopping, TensorBoard
import datetime

# Set up TensorBoard
log_dir = "regressionlogs/fit/" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorboard_callback = TensorBoard(log_dir=log_dir, histogram_freq=1)

In [18]:
# Set up Early Stopping
early_stopping_callback = EarlyStopping(monitor='val_loss', patience=10, restore_best_weights=True)

In [19]:
# Train the model
history = model.fit(
    x_train, y_train,
    validation_data=(x_test, y_test),
    epochs=100,
    callbacks=[early_stopping_callback, tensorboard_callback]
)

Epoch 1/100
250/250 [==============================] - 0s 1ms/step - loss: 100101.5078 - mae: 100101.5078 - val_loss: 99522.7656 - val_mae: 99522.7656
Epoch 2/100
250/250 [==============================] - 0s 689us/step - loss: 99227.8594 - mae: 99227.8594 - val_loss: 97766.8750 - val_mae: 97766.8750
Epoch 3/100
250/250 [==============================] - 0s 654us/step - loss: 96232.6016 - mae: 96232.6016 - val_loss: 93364.8125 - val_mae: 93364.8125
Epoch 4/100
250/250 [==============================] - 0s 632us/step - loss: 90416.2969 - mae: 90416.2969 - val_loss: 86140.9297 - val_mae: 86140.9297
Epoch 5/100
250/250 [==============================] - 0s 628us/step - loss: 82096.6172 - mae: 82096.6172 - val_loss: 76976.4375 - val_mae: 76976.4375
Epoch 6/100
250/250 [==============================] - 0s 660us/step - loss: 72627.1719 - mae: 72627.1719 - val_loss: 67594.8281 - val_mae: 67594.8281
Epoch 7/100
250/250 [==============================] - 0s 659us/step - loss: 63957.0469 - mae: 63957.0469 - val_loss: 59701.0391 - val_mae: 59701.0391
Epoch 8/100
250/250 [==============================] - 0s 701us/step - loss: 57491.2266 - mae: 57491.2266 - val_loss: 54493.3633 - val_mae: 54493.3633
Epoch 9/100
250/250 [==============================] - 0s 735us/step - loss: 53527.5703 - mae: 53527.5703 - val_loss: 51668.3320 - val_mae: 51668.3320
Epoch 10/100
250/250 [==============================] - 0s 679us/step - loss: 51601.5000 - mae: 51601.5000 - val_loss: 50566.2891 - val_mae: 50566.2891
Epoch 11/100
250/250 [==============================] - 0s 716us/step - loss: 50817.1758 - mae: 50817.1758 - val_loss: 50222.5078 - val_mae: 50222.5078
Epoch 12/100
250/250 [==============================] - 0s 639us/step - loss: 50536.3984 - mae: 50536.3984 - val_loss: 50153.3242 - val_mae: 50153.3242
Epoch 13/100
250/250 [==============================] - 0s 647us/step - loss: 50414.7891 - mae: 50414.7891 - val_loss: 50117.9805 - val_mae: 50117.9805
Epoch 14/100
250/250 [==============================] - 0s 632us/step - loss: 50330.0156 - mae: 50330.0156 - val_loss: 50083.4453 - val_mae: 50083.4453
Epoch 15/100
250/250 [==============================] - 0s 631us/step - loss: 50266.3008 - mae: 50266.3008 - val_loss: 50051.6133 - val_mae: 50051.6133
Epoch 16/100
250/250 [==============================] - 0s 633us/step - loss: 50211.9688 - mae: 50211.9688 - val_loss: 50040.6641 - val_mae: 50040.6641
Epoch 17/100
250/250 [==============================] - 0s 622us/step - loss: 50165.3281 - mae: 50165.3281 - val_loss: 50017.8906 - val_mae: 50017.8906
Epoch 18/100
250/250 [==============================] - 0s 626us/step - loss: 50126.4141 - mae: 50126.4141 - val_loss: 49977.6094 - val_mae: 49977.6094
Epoch 19/100
250/250 [==============================] - 0s 620us/step - loss: 50088.8750 - mae: 50088.8750 - val_loss: 49954.3711 - val_mae: 49954.3711
Epoch 20/100
250/250 [==============================] - 0s 620us/step - loss: 50059.3203 - mae: 50059.3203 - val_loss: 49938.1523 - val_mae: 49938.1523
Epoch 21/100
250/250 [==============================] - 0s 625us/step - loss: 50027.8555 - mae: 50027.8555 - val_loss: 49899.7539 - val_mae: 49899.7539
Epoch 22/100
250/250 [==============================] - 0s 631us/step - loss: 50003.7266 - mae: 50003.7266 - val_loss: 49903.0273 - val_mae: 49903.0273
Epoch 23/100
250/250 [==============================] - 0s 627us/step - loss: 49978.5312 - mae: 49978.5312 - val_loss: 49873.0156 - val_mae: 49873.0156
Epoch 24/100
250/250 [==============================] - 0s 699us/step - loss: 49955.6797 - mae: 49955.6797 - val_loss: 49831.2578 - val_mae: 49831.2578
Epoch 25/100
250/250 [==============================] - 0s 683us/step - loss: 49933.1992 - mae: 49933.1992 - val_loss: 49825.9922 - val_mae: 49825.9922
Epoch 26/100
250/250 [==============================] - 0s 689us/step - loss: 49912.4844 - mae: 49912.4844 - val_loss: 49824.1992 - val_mae: 49824.1992
Epoch 27/100
250/250 [==============================] - 0s 628us/step - loss: 49894.3711 - mae: 49894.3711 - val_loss: 49804.6875 - val_mae: 49804.6875
Epoch 28/100
250/250 [==============================] - 0s 656us/step - loss: 49878.3438 - mae: 49878.3438 - val_loss: 49803.6953 - val_mae: 49803.6953
Epoch 29/100
250/250 [==============================] - 0s 841us/step - loss: 49865.3281 - mae: 49865.3281 - val_loss: 49792.6016 - val_mae: 49792.6016
Epoch 30/100
250/250 [==============================] - 0s 674us/step - loss: 49850.0703 - mae: 49850.0703 - val_loss: 49764.2852 - val_mae: 49764.2852
Epoch 31/100
250/250 [==============================] - 0s 658us/step - loss: 49836.7383 - mae: 49836.7383 - val_loss: 49765.1094 - val_mae: 49765.1094
Epoch 32/100
250/250 [==============================] - 0s 668us/step - loss: 49823.3750 - mae: 49823.3750 - val_loss: 49759.7969 - val_mae: 49759.7969
Epoch 33/100
250/250 [==============================] - 0s 629us/step - loss: 49815.2070 - mae: 49815.2070 - val_loss: 49751.3047 - val_mae: 49751.3047
Epoch 34/100
250/250 [==============================] - 0s 635us/step - loss: 49796.0977 - mae: 49796.0977 - val_loss: 49727.1445 - val_mae: 49727.1445
Epoch 35/100
250/250 [==============================] - 0s 628us/step - loss: 49786.4648 - mae: 49786.4648 - val_loss: 49719.6328 - val_mae: 49719.6328
Epoch 36/100
250/250 [==============================] - 0s 627us/step - loss: 49779.3516 - mae: 49779.3516 - val_loss: 49727.2461 - val_mae: 49727.2461
Epoch 37/100
250/250 [==============================] - 0s 635us/step - loss: 49768.0312 - mae: 49768.0312 - val_loss: 49713.1328 - val_mae: 49713.1328
Epoch 38/100
250/250 [==============================] - 0s 623us/step - loss: 49760.1719 - mae: 49760.1719 - val_loss: 49713.6445 - val_mae: 49713.6445
Epoch 39/100
250/250 [==============================] - 0s 628us/step - loss: 49747.9258 - mae: 49747.9258 - val_loss: 49713.9766 - val_mae: 49713.9766
Epoch 40/100
250/250 [==============================] - 0s 630us/step - loss: 49740.5938 - mae: 49740.5938 - val_loss: 49706.4336 - val_mae: 49706.4336
Epoch 41/100
250/250 [==============================] - 0s 626us/step - loss: 49728.3594 - mae: 49728.3594 - val_loss: 49696.8125 - val_mae: 49696.8125
Epoch 42/100
250/250 [==============================] - 0s 622us/step - loss: 49723.9258 - mae: 49723.9258 - val_loss: 49700.7070 - val_mae: 49700.7070
Epoch 43/100
250/250 [==============================] - 0s 628us/step - loss: 49711.9102 - mae: 49711.9102 - val_loss: 49689.1914 - val_mae: 49689.1914
Epoch 44/100
250/250 [==============================] - 0s 637us/step - loss: 49707.9062 - mae: 49707.9062 - val_loss: 49678.6797 - val_mae: 49678.6797
Epoch 45/100
250/250 [==============================] - 0s 648us/step - loss: 49698.2383 - mae: 49698.2383 - val_loss: 49687.4297 - val_mae: 49687.4297
Epoch 46/100
250/250 [==============================] - 0s 702us/step - loss: 49696.8008 - mae: 49696.8008 - val_loss: 49681.4961 - val_mae: 49681.4961
Epoch 47/100
250/250 [==============================] - 0s 630us/step - loss: 49691.0234 - mae: 49691.0234 - val_loss: 49688.8203 - val_mae: 49688.8203
Epoch 48/100
250/250 [==============================] - 0s 652us/step - loss: 49679.5938 - mae: 49679.5938 - val_loss: 49684.5664 - val_mae: 49684.5664
Epoch 49/100
250/250 [==============================] - 0s 687us/step - loss: 49674.6523 - mae: 49674.6523 - val_loss: 49680.1055 - val_mae: 49680.1055
Epoch 50/100
250/250 [==============================] - 0s 652us/step - loss: 49668.7305 - mae: 49668.7305 - val_loss: 49683.8086 - val_mae: 49683.8086
Epoch 51/100
250/250 [==============================] - 0s 646us/step - loss: 49661.1523 - mae: 49661.1523 - val_loss: 49675.4648 - val_mae: 49675.4648
Epoch 52/100
250/250 [==============================] - 0s 641us/step - loss: 49657.5625 - mae: 49657.5625 - val_loss: 49663.6523 - val_mae: 49663.6523
Epoch 53/100
250/250 [==============================] - 0s 647us/step - loss: 49652.0117 - mae: 49652.0117 - val_loss: 49673.9453 - val_mae: 49673.9453
Epoch 54/100
250/250 [==============================] - 0s 677us/step - loss: 49645.3359 - mae: 49645.3359 - val_loss: 49670.9961 - val_mae: 49670.9961
Epoch 55/100
250/250 [==============================] - 0s 693us/step - loss: 49640.3828 - mae: 49640.3828 - val_loss: 49670.9609 - val_mae: 49670.9609
Epoch 56/100
250/250 [==============================] - 0s 626us/step - loss: 49633.3359 - mae: 49633.3359 - val_loss: 49670.9219 - val_mae: 49670.9219
Epoch 57/100
250/250 [==============================] - 0s 628us/step - loss: 49629.0664 - mae: 49629.0664 - val_loss: 49663.0703 - val_mae: 49663.0703
Epoch 58/100
250/250 [==============================] - 0s 619us/step - loss: 49624.7188 - mae: 49624.7188 - val_loss: 49679.4570 - val_mae: 49679.4570
Epoch 59/100
250/250 [==============================] - 0s 628us/step - loss: 49622.6406 - mae: 49622.6406 - val_loss: 49659.3867 - val_mae: 49659.3867
Epoch 60/100
250/250 [==============================] - 0s 628us/step - loss: 49615.1797 - mae: 49615.1797 - val_loss: 49674.2344 - val_mae: 49674.2344
Epoch 61/100
250/250 [==============================] - 0s 753us/step - loss: 49614.2773 - mae: 49614.2773 - val_loss: 49674.7266 - val_mae: 49674.7266
Epoch 62/100
250/250 [==============================] - 0s 622us/step - loss: 49608.5312 - mae: 49608.5312 - val_loss: 49671.3438 - val_mae: 49671.3438
Epoch 63/100
250/250 [==============================] - 0s 622us/step - loss: 49605.3750 - mae: 49605.3750 - val_loss: 49671.5664 - val_mae: 49671.5664
Epoch 64/100
250/250 [==============================] - 0s 620us/step - loss: 49600.7891 - mae: 49600.7891 - val_loss: 49667.7148 - val_mae: 49667.7148
Epoch 65/100
250/250 [==============================] - 0s 623us/step - loss: 49595.9531 - mae: 49595.9531 - val_loss: 49665.7695 - val_mae: 49665.7695
Epoch 66/100
250/250 [==============================] - 0s 620us/step - loss: 49593.1484 - mae: 49593.1484 - val_loss: 49675.2891 - val_mae: 49675.2891
Epoch 67/100
250/250 [==============================] - 0s 622us/step - loss: 49590.2227 - mae: 49590.2227 - val_loss: 49669.7773 - val_mae: 49669.7773
Epoch 68/100
250/250 [==============================] - 0s 622us/step - loss: 49587.1445 - mae: 49587.1445 - val_loss: 49665.7031 - val_mae: 49665.7031
Epoch 69/100
250/250 [==============================] - 0s 636us/step - loss: 49581.3945 - mae: 49581.3945 - val_loss: 49680.6836 - val_mae: 49680.6836

In [20]:
%load_ext tensorboard

In [22]:
%tensorboard --logdir regressionlogs/fit

Reusing TensorBoard on port 6007 (pid 80966), started 0:00:15 ago. (Use '!kill 80966' to kill it.)